#root {
  --navbar-background: transparent;
  background-color: var(--navbar-background);
  transition: background-color 0.3s ease; /* Smooth transition */

  margin: 0 auto;
 
    --roadmap-gradient: linear-gradient(90deg, rgba(136,250,222,1) 0%, rgba(0,0,0,1) 46%, rgba(136,250,222,1) 90%);
   
 
}
/* custom.css */



